@tailwind base;
@tailwind components;
@tailwind utilities; 

*, body{
    background-color: black; /* a resudre le background color pour ne pas avoir les deux background color*/
    margin: 0;
    padding: 0;
    overflow: hidden;
}